.nav {
    height: 50px;
    background-color: black;
}
.nav-list {
    height: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
}
.menu-icon,
.user-icon {
    height: 35px;
    width: 35px;
    background: white;
    border-radius: 50%;
}
